 @font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-Regular.otf');
 }
 @font-face {
  font-family: 'ManropeLight';
  src: url('fonts/Manrope-Light.otf');
 }
 @font-face {
  font-family: 'Anglecia Pro Display';
  src: url('fonts/AngleciaProDisplay-Regular.otf');
 }
 /*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }
  
  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
  ol, ul {
    list-style: none;
  }
  
  /* For images to not be able to exceed their container */
  img {
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }

/* A11y */

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

/* Typography */

html {
  font: 1.125rem 'Manrope';
  color: #fafafa;
  line-height: 1.6;
}

h1,h2,h3,h4,h5,h6,hgroup,dd,figure,
pre,table,hr{
    margin-bottom:1rem;
    font-family: 'Anglecia Pro Display', sans-serif;
}

h1 {
  font-size: 130px;
}

h2 { font-size: 50px;}
/* Utility Style */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 120px;
    padding-right: 120px;
}

a {
  cursor: pointer;
}

a:visited {
  color: #fafafa;
}

a:hover,
a:focus {
  color: #f8b160;
  cursor: pointer;
}

button:hover,
button:focus {
  cursor: pointer;
}

/* Layout */

body {
  background-color: #14131c;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
}

main {
  padding: 0rem 7.5rem 0rem;
}

section {
  padding: 5rem 0rem 5rem;
  margin-bottom: 1rem;
  gap: 5rem;
}

/* Hero Section */

.fa-solid {
  color: red;
}

div.homepage-hero {
  height: 100vh;
  background-image: url("../images/pasta-plate.png");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  position: relative;
  isolation: isolate;
  display: grid;
  margin-bottom: 8rem;
}

div.homepage-hero-intro {
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0 120px;
  display: flex;
  flex-flow: column nowrap;
}

div.homepage-hero-intro::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #9b9aa0;
  mix-blend-mode: multiply;
}

h1.home-heading {
  display: flex;
  place-content: center ;
  padding-top: 5rem;
  margin-bottom: 0.25rem;
}

span.slogan {
  display: flex;
  place-content: center;
  padding: 0 1rem 3rem;
  margin-bottom: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem;
  width: 15rem;
}

.btn:active {
  box-shadow: 5px 5px 5px #000, -5px -5px 5px #000, 5px -5px 5px #000, -5px 5px 5px #000;
}

.btn:hover,
.btn:focus {
  background-color: #9a9a9a;
  color: #14131c;
  font-weight: bold;
  box-shadow: 5px 5px 5px #fff, -5px -5px 5px #fff, 5px -5px 5px #fff, -5px 5px 5px #fff;
}

.btn.btn-lead {
  outline: 1px solid #fafafa;
}

.btn.book-table {
  background-color: #e5e5e5;
  color: #14131c;
  place-self: center;
}

/* End Hero Section */

/* Header Section */

header.header-desk {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 3rem 0 0;
  margin-bottom: 1rem;
}

.logo-name {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo-name .name {
  font-family: 'Anglecia Pro Display';
  font-size: 25px;
  letter-spacing: 5px;
  margin-bottom: 0.25rem;
}

.main-nav ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
}

/* End Header Section */

/* Lead Section */
section.lead {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

div.lead-img-wrapper {
  position: relative;
}

div.lead-img-wrapper > div::after {
  content: '';
  position: absolute;
  inset: 0;
  border-bottom: 1px solid #fafafa;
  /* transform: rotate(0deg); */
  z-index: 1;
}

div.wrap-right::after {
  border-right: 1px solid #fafafa;
  transform: rotate(0deg) translate(2%, 3%);
}

div.wrap-left::after {
  border-left: 1px solid #fafafa;
  transform: rotate(0deg) translate(-2%, 3%);
}

.lead-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 30rem;
}

.lead-wrapper > h2 {
  margin-bottom: 0;
}

p.section-descriptor {
  max-width: 25rem;
}

/* End Lead Section*/

/* Review Section and Gallery Section*/
section.reviews,
section.gallery {
  display: flex;
  flex-flow: column;
  align-items:stretch;
}

.lead-link-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.review-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.review {
  max-width: 30%;
  padding: 2.25rem 2.25rem;
  border: 1px solid #fafafa;
  overflow-wrap: break-word;
}

.gallery-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.gallery-images img {
  max-width: 30%;
  height: auto;
  border-radius: 2px;
  box-shadow:  5px 5px 5px #333;
}

.gallery-images img:hover {
  filter: drop-shadow(15px 15px 15px #555)
}

.instagram-link {
  display: flex;
  gap: 1rem;
}

div.carousel-controls {
  display: flex;
  align-self: center;
  align-items: center;
  gap: 2rem;
  max-width: 200px;
}

.instagram-link:hover svg:hover,
div.carousel-controls svg:hover {
  fill: #f8b160;
  cursor: pointer;
}

div.carousel-controls svg:active {
  fill: #000;
}

/* End Review and Gallery Section */

/* Booking Section  */

section.booking {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

section.booking > div {
  min-width: 15rem;
}

div.booking-wrapper {
  width: 45%;
  max-width: 50%;
}

form.booking-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  font-family: 'ManropeLight', sans-serif;
}

fieldset {
  border: 1px solid #fafafa;
  color: #fff;
  padding: 0.5rem;
}

legend {
  padding: 5px;
}

div.terms-wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}

input#terms.terms {
  border: 1px solid #fafafa;
  width: 1em;
  height: 1em;
}

a.terms-link {
  color: #f8b160;
}

#booking-button {
  align-self: flex-start;
  margin-top: 4rem;
}

/* End Booking Section */

/* Footer  */

footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 5rem 5rem;
}

div.footer-wrapper {
  border: 1px solid #fafafa;
  width: 100%;
  position: relative;
}

div.footer-wrapper .logo-name {
  position: absolute;
  inset: -75% 50% 0 50% ;
}

svg.social-icon {
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
}

div.contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

address.footer-address {

}

/* End Footer  */

/* --------------------------Mobile Media Queries------------------------------- */

@media screen and (max-width: 1024px) {
  body {
    background-color: lightblue;
  }
 
  section.booking {
    align-items: center;
  }

}

