 @font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-Regular.otf');
 }
 @font-face {
  font-family: 'Anglecia Pro Display';
  src: url('fonts/AngleciaProDisplay-Regular.otf');
 }
 /*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }
  
  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
  ol, ul {
    list-style: none;
  }
  
  /* For images to not be able to exceed their container */
  img {
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }

/* A11y */

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

/* Typography */

html {
  font: 1.125rem 'Manrope';
  color: #fafafa;
  line-height: 1.6;
}

h1,h2,h3,h4,h5,h6,hgroup,dd,figure,
pre,table,fieldset,hr{
    margin-bottom:1rem;
    font-family: 'Anglecia Pro Display';
}

h1 {
  font-size: 130px;
}

h2 { font-size: 50px;}
/* Utility Style */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 120px;
    padding-right: 120px;
}

a {
  cursor: pointer;
}

a:visited {
  color: #fafafa;
}

a:hover,
a:focus {
  color: #f8b160;
  cursor: pointer;
}

button:hover,
button:focus {
  cursor: pointer;
}

/* Layout */

body {
  background-color: #14131c;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
}

main {
  padding: 0rem 7.5rem 0rem;
}

section {
  padding: 5rem 0rem 5rem;
  margin-bottom: 1rem;
}

/* Hero Section */

div.homepage-hero {
  height: 100vh;
  background-image: url("/images/pasta-plate.png");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  position: relative;
  isolation: isolate;
  display: grid;
  margin-bottom: 8rem;
}

div.homepage-hero-intro {
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0 120px;
  display: flex;
  flex-flow: column nowrap;
}

div.homepage-hero-intro::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #9b9aa0;
  mix-blend-mode: multiply;
}

h1.home-heading {
  display: flex;
  place-content: center ;
  padding-top: 5rem;
  margin-bottom: 0.25rem;
}

span.slogan {
  display: flex;
  place-content: center;
  padding: 0 1rem 3rem;
  margin-bottom: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  place-self: center;
  padding: 1rem 4rem;
  width: 15rem;
}

.btn:active {
  border: 2px solid #000;
}

.btn:hover,
.btn:focus {
  background-color: #9a9a9a;
  color: #14131c;
  font-weight: bold;
  box-shadow: 2px 2px 5px #9a9a9a, -2px -2px 5px #9a9a9a;
}

.btn.btn-lead {
  outline: 1px solid #fafafa;
}

.btn.book-table {
  background-color: #e5e5e5;
  color: #14131c;
}

/* End Hero Section */

/* Header Section */

header.header-desk {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 3rem 0 0;
  margin-bottom: 1rem;
}

.logo-name {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo-name .name {
  font-family: 'Anglecia Pro Display';
  font-size: 25px;
  letter-spacing: 5px;
  margin-bottom: 0.25rem;
}

.main-nav ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
}

/* End Header Section */

/* Lead Section */
section.lead {
  display: flex;
  flex-flow: row nowrap;
  gap: 9rem;
}

img.lead-img {
  padding: 10px;
  border-bottom: 1px #fafafa solid;
}

img.lead-left {
  border-left: 1px #fafafa solid;
}

img.lead-right {
  border-right: 1px #fafafa solid;
}

/* End Lead Section*/

/* Review Section */


/* End Review Section */